.modal {
  &-wrap {
    padding: 10px;
  }

  &-title {
    height: 34px;
    line-height: 34px;
  }

  .inp {
    flex: 1;
  }
}

.img-slide {
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #8a8a8a;
  }
}
