@import "swiper/css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

p,
div {
  word-break: break-all;
}

input,
textarea,
select {
  appearance: none;
  &[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
}

label {
  cursor: pointer;
}

svg {
  display: inline-block;
}

.checkbox {
  position: relative;

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: transparent;
  }

  &.checked {
    &::before {
      background-color: black;
    }
  }
}
