@tailwind base;
@tailwind components;
@tailwind utilities;

// body,
// html {
//   font-size: 10px;
// }

input,
textarea,
select {
  appearance: none;
  &[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
}

svg {
  display: inline-block;
}
