.product {
  &-item {
    &:nth-child(3n + 1) {
      @apply border-l-[1px];
    }

    &.slide {
      border: none;
    }
  }
  a {
    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 640px) {
  .product {
    &-item {
      &:nth-child(2n) {
        border-left: none;
      }
    }
  }
}

.detail {
  .image {
    width: 400px;
  }

  .notice {
    width: calc(100% - 430px);
  }
}

.thumb-slide {
  .swiper-slide {
    &-thumb-active {
      border: 1px solid #000;
    }
  }
}

.line-clamp-3 {
  min-height: 72px;
}
